.vscode/
.idea/
*.swp
*.swo
*.DS_Store
node_modules
npm-debug.log
yarn-error.log
.env
.env.*
__pycache__/
*.pyc
.pytest_cache/
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.52.0/linux_amd64/terraform-provider-aws_v6.52.0_x5
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.52.0/linux_amd64/LICENSE.txt
ansible/inventory/
*.log
coverage/
.dockerignore
